<div class="main-users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>

    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= image_tag user.image_name.to_s, :size => "60x60" %>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
    <br>
    <hr>
    <br>
      <div class="show-index">
        <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
      </div>
    <br>
  </div>
</div>
