<div class="user-show">
      <div class="user-show-image">
        <%= image_tag @user.image_name.to_s %>
      </div>
      <br>
      <div class="user-content">
        <h3><%= @user.name %></h3>
        <p><%= @user.email %></p>

        <% if current_user.id ==  @user.id %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-info" %>
        <% end %>

      </div>
</div>

<br>
<hr>
<br>

<div class="show-index">
  <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
</div>
<br>
