<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class="show-image">
        <%= image_tag @user.image_name.to_s, :size => "100x100" %>
      </div>
      <h3><%= @user.name %></h3>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
<hr>

<div class="show-index">
  <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
</div>
