<div class="modal-involve">
  <a class="js-modal-open" href="" data-target="modal01"><i class="fa fa-map"></i> 地図で探す&emsp; </a>
  <a class="js-modal-open" href="" data-target="modal02">&emsp; # 条件で探す</a>
</div>

<div id="modal01" class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <div class="may-map">
        <iframe src="https://www.google.com/maps/d/embed?mid=19AFTeknmIahUpgetKNOFbHfPjDuoeEoV&z=12" width="800" height="480"></iframe>
      </div>
      <br>
      <a class="js-modal-close" href="">閉じる</a>
   </div>
 </div>
 <div id="modal02" class="modal js-modal">
   <div class="modal__bg js-modal-close"></div>
     <div class="modal__content">
       <div class="tag-index">
         <% @tags.each do |tag| %>
           <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "label label-default" %>
         <% end %>
       </div>
        <br>
        <a class="js-modal-close" href="">閉じる</a>
    </div>
  </div>
