<div class="modal-involve">
  <a class="js-modal-open" href="" data-target="modal01"><i class="fa fa-map"></i> 地図で探す&emsp; &ensp; </a>
  <a class="js-modal-open" href="" data-target="modal02">&emsp; &ensp; # 条件で探す</a>
</div>

<div id="modal01" class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <div class="map-index">
        <iframe src="https://www.google.com/maps/d/embed?mid=19AFTeknmIahUpgetKNOFbHfPjDuoeEoV&z=12" width="800" height="480"></iframe>
      </div>
      <br>
      <a class="js-modal-close, btn btn-outline-dark" href="">✖️</a>
   </div>
 </div>
 <div id="modal02" class="modal js-modal">
   <div class="modal__bg js-modal-close"></div>
     <div class="modal__content">
       <div class="tag-index">
         <h2 class="tag-index__title"># 特徴で探す</h2>
         <div class="tag-wrapper">
           <% @tags.each do |tag| %>
             <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "label label-default" %>
           <% end %>
         </div>
       </div>
        <br>
        <a class="js-modal-close, btn btn-outline-dark" href="">✖️</a>
    </div>
  </div>
