@import "bootstrap/scss/bootstrap";
@import "posts";
@import "users";
@import "comments";


// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.container-edit {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.container-edit {
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 7px #c1ced7;
}

.container-login {
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 7px #c1ced7;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//header

header {
  color: #FFFFFF;
  background-size: cover;
  height: 200px;
  width: 100%;
  padding: 15px 0;
  background-image: url("header3.jpg");
  background-position: center top;
  background-size: cover;
  opacity: 0.7;
}

.header-menus :hover {
  display: inline-block;
  text-decoration: none;
}


.header-logo {
  font-family: Pacifico, sans-serif;
  font-size: 45px;
  display: inline-block;
  margin-left: 20px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 30px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
  opacity: 80%;
}

.header-menus a {
  float: left;
  font-size: 15px;
  color:white;
}


body {
  background-color: #D7EEFF;
}

//footer
footer {
  background-color: #99FF99;
  color: white;
}

/*ページネーション*/
.pagination ul{
  background-color: white;
}
