@import "bootstrap/scss/bootstrap";
@import "posts";


// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//header

header {
  background-size: cover;
  height: 200px;
  width: 100%;
  padding: 15px 0;
  background-image: url("header3.jpg");
  background-position: center top;
  background-size: cover;
  opacity: 0.5;
}

.header-logo {
  font-family: Pacifico, sans-serif;
  font-size: 50px;
  color: #99FF99 !important;
  display: inline-block;
  margin-left: 20px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 30px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 15px;
  color:white;
}


body {
  background-color: #CCFFFF;
}

//footer
footer {
  background-color: #99FF99;
  color: white;
}
