/*index*/

.users-heading {
  font-weight: 200px;
  margin: 60px 0 20px;
  font-size: 30px;
  color: #bcc8d4;
}

.main-users-index {
  margin:0 auto;
  margin-bottom: 30px;
  width: 550px;
}

.users-index-item {
  margin: auto;
  padding: 20px 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
}


.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-left {
  width: 10%;
}

.user-right {
  display: flex;
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.user-content {
  text-align: center;
}


/*show*/

.user-show-image img {
  display: block;
  margin: 20px auto;
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-user-image img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.posts-index-item {
  margin:0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;
  background-color: white;
  width: 550px;
  max-width: 100%;
  height: auto;
}


.user-tabs {
  margin-top: 40px;
  margin:0 auto;
  background-color: white;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 6px #c1ced7;
  width: 550px;
}

.user-tabs li {
  float: left;
  max-width: 100%;
  height: auto;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
  max-width: 100%;
  height: auto;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/*ログイン画面*/
